.auth__form-button-enter {
    margin-top: 186px;
    padding: 0;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    font-family: "Inter", Arial, sans-serif, "Helvetica Neue";
    font-weight: 400;
    font-style: normal;
    text-align: center;
}