.popup__button-close {
    width: 32px;
    height: 32px;
    color: #fff;
    position: absolute;
    top: -40px;
    right: -40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(../../../images/Close-Icon.svg);
    background-color: transparent;
    padding: 0;
    border: 0;
    background-size: 32px 32px;
}

.popup__button-close:hover {
    opacity: .6;
}

@media screen and (max-width: 700px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}