.auth__link {
    font-size: 14px;
    line-height: 17px;
    font-family: "Inter", Arial, sans-serif, "Helvetica Neue";
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin: 0;
  }

.auth__link:hover {
    opacity: 0.6;
  }