.header__button-link {
    font-size: 18px;
    line-height: 22px;
    font-family: "Inter", Arial, sans-serif, "Helvetica Neue";
    font-weight: 400;
    font-style: normal;
    color: #a9a9a9;
    text-align: right;
    text-decoration: none;
    transition: 1s ease;
}

.header__button-link:hover {
    opacity: .6;
}