.auth__form-input {
    padding: 0 0 13px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 14px;
    line-height: 17px;
    font-family: "Inter", Arial, sans-serif, "Helvetica Neue";
    font-weight: 400;
    font-style: normal;
    color: #ccc;

}