@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/avatar-bt/profile__avatar-bt.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-redact/profile__avatar-redact.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/elements/elements.css);


@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);


@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/popup/__edit/popup__edit.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__form-edit-container/popup__form-edit-container.css);
@import url(./blocks/popup/__form-heading/popup__form-heading.css);
@import url(./blocks/popup/__form-input/popup__form-input.css);
@import url(./blocks/popup/__form-item/popup__form-item.css);
@import url(./blocks/popup/__form-item/_type/popup__form-item_type_error.css);
@import url(./blocks/popup/__edit-tooltip/popup__edit-tooltip.css);
@import url(./blocks/popup/__status/popup__status.css);
@import url(./blocks/popup/__message/popup__message.css);


@import url(./blocks/popup/__form-item-error/popup__form-item-error.css);
@import url(./blocks/popup/__form-item-error/_visible/popup__form-item-error_visible.css);

@import url(./blocks/popup/__form-button-submit/popup__form-button-submit.css);
@import url(./blocks/popup/__form-button-submit/_disabled/popup__form-button-submit_disabled.css);

@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__title/popup__title.css);


@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__delete-bt/card__delete-bt.css);
@import url(./blocks/card/__container/card__container.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like-bt/card__like-bt.css);
@import url(./blocks/card/__like-bt/_active/card__like-bt_active.css);
@import url(./blocks/card/__count-like/card__count-like.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__container/auth__container.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__form-heading/auth__form-heading.css);
@import url(./blocks/auth/__form-input/auth__form-input.css);
@import url(./blocks/auth/__form-button-enter/auth__form-button-enter.css);
@import url(./blocks/auth/__link/auth__link.css);