.popup__message {
    font-size: 24px;
    line-height: 29px;
    font-family: "Inter", Arial, sans-serif, "Helvetica Neue";
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: black;
    padding-top: 32px;
}

/*

@media screen and (max-width: 620px) {
  .popup__samp {
    font-size: 20px;
    line-height: 24px;
  }
}*/